/* Style.css */

button {
  background-color: black;
  color: white;
  width: 7em;
  padding: 0.7em;
  box-shadow: rgb(0, 0, 0.7);
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
  border-radius: 0px;
}

button.dark-mode {
  background-color: #000;
  color: #fff;
  box-shadow: none;
}
button.dark-mode:hover {
  border-radius: 7px;
}
